# Dependências e Ambiente
/vendor/
/.env
/.env.*
!.env.example

# Armazenamento e Dados Locais (ignora tudo, preservando .gitkeep)
/storage/data/*
!/storage/data/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/backups/*
!/storage/backups/.gitkeep

/storage/tmp/*
!/storage/tmp/.gitkeep

# Arquivos de Log gerais
*.log

# Arquivos de IDE e Sistema Operacional
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp